<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="PIC2"
         connectionString="Server=ZULFIKAR_PC\SQLEXPRESS;Database=PIC2;User=PIC2;Pwd=zulfikar4568;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>